{{define "contenttag"}}
  <div>
    <div>
      <h2 class="ui center aligned header">JS Management</h2>
      <form id="formContent" class="ui form">
        <div class="field">
          <label>Edit Javascript</label>
          <div class="ui input">
            <textarea id="js_text" name="js_text" rows="10"></textarea>
          </div>
        </div>
        <div id="fix_js" class="ui teal submit button" onclick="FixJs();">OK</div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    GetJs();
  });
  </script>
{{end}}
