{{define "base"}}
{{$url := .URL }}
<!doctype html>
<html>
{{template "headtag" .}}
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="{{ $url }}" class="item">Top</a>
      </div>
    </div>
{{template "floatingbutton" .}}
    <div class="ui head_container">
      <h1 class="ui center aligned header">{{ .Content.Const.Title }}</h1>
{{if gt (len .Content.Const.HeadImage) 0}}<div class="ui head_image"><img src="{{ .Content.Const.HeadImage }}"></div>{{end}}
    </div>
{{template "content" .}}
{{template "pagertag" .}}
{{template "foottag" .}}
  </body>
</html>
{{end}}
