{{define "content"}}
{{$CategoryNameList := .Content.CategoryNameList }}
{{ range .Content.ItemList }}
    <div class="ui container vmargin">
      <div class="ui relaxed divided items">
        <div class="item">
          <div class="ui small image"><img src="{{ .Image | safeurl }}"></div>
          <div class="content">
            <a class="header">{{ .Title }}</a>
            <div class="meta">
            {{ range .CategoryIds }}
              {{$id := sub . 1}}
              {{$CategoryName := index $CategoryNameList $id}}
              <a href="/category/{{ $CategoryName }}" class="item">{{ $CategoryName }}</a>
            {{end}}
            </div>
            <div class="description">{{ .Description }}</div>
          </div>
        </div>
      </div>
    </div>
{{end}}
{{end}}
